{% load static %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">

<div id="contenido-parcial">

    <!-- HEADER -->
    <div class="mb-4" id="tittle">
        <h2 class="text">
            <i class="fa fa-users"></i> Gestión de Usuarios
        </h2>
    </div>

    <!-- CARDS RESUMEN -->
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card-admin text-center">
                <i class="fa fa-users fa-2x"></i>
                <h6>Usuarios Totales</h6>
                <h2 id="total-usuarios">0</h2>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-admin text-center">
                <i class="fa fa-chalkboard-teacher fa-2x"></i>
                <h6>Instructores</h6>
                <h2 id="total-instructores">0</h2>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-admin text-center">
                <i class="fa fa-shield-alt fa-2x"></i>
                <h6>Soldados</h6>
                <h2 id="total-soldados">0</h2>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-admin text-center">
                <i class="fa fa-check-circle fa-2x"></i>
                <h6>Activos</h6>
                <h2 id="total-activos">0</h2>
            </div>
        </div>
    </div>

    <!-- FORMULARIOS -->
    <div class="row">

        <!-- CREAR USUARIO -->
        <div class="col-md-6">
            <div class="card-admin p-4">
                <h5>Crear Usuario Individual</h5>

                <div class="mb-3">
                    <div class="buscador-batallon mb-3">

                        <input type="text" id="buscarCompania" class="form-control buscador-input"
                            placeholder="Buscar compañía...">

                        <div id="resultadosCompanias" class="lista-companias">
                        </div>

                        <input type="hidden" id="companiaSeleccionada">

                    </div>

                    <select id="rol" class="form-control">

                        <option value="soldado">
                            Soldado
                        </option>

                        <option value="instructor">
                            Instructor
                        </option>

                        <option value="administrador">
                            Administrador
                        </option>

                    </select>
                </div>
                <div id="contenedorGrado" class="mb-4 mt-2">
                    <input type="text" id="grado" class="form-control input-grado"
                        placeholder="Ejemplo: Capitán, Sargento, Coronel...">
                </div>
                <div class="mb-3">

                    <button type="button" id="btnHuella" class="btn btn-success w-100"
                        onclick="window.registrarHuella()">
                        <i id="new_user" class="fa fa-fingerprint"></i>
                        Registrar Huella
                    </button>

                    <!-- TEXTO ESTADO -->
                    <small id="estadoHuella" class="text-success d-none">

                        ✔ Huella registrada

                    </small>

                </div>
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <input type="text" class="form-control" placeholder="Nombres" id="nombres">
                    </div>
                    <div class="col-md-6 mb-2">
                        <input type="text" class="form-control" placeholder="Apellidos" id="apellidos">
                    </div>
                </div>

                <input type="email" class="form-control mb-2" placeholder="Correo institucional" id="email">

                <div class="row">
                    <div class="col-md-6 mb-2">
                        <input type="text" class="form-control" placeholder="Documento" id="documento">
                    </div>
                </div>
                <button id="btnCrearUsuario" class="btn btn-success w-100 mt-2">
                    <i id="new_user" class="fa fa-user-plus"></i>Crear Usuario
                </button>

            </div>
        </div>

        <!-- CARGA MASIVA -->
        <div class="col-md-6">
            <div class="card-admin p-4">
                <h5>Cargar Usuarios desde Excel</h5>

                <div class="mb-3">
                    <!-- BUSCADOR COMPANIA -->

                    <div class="buscador-batallon mb-4">
                        <input type="text" id="buscarCompaniaExcel" class="form-control buscador-input"
                            placeholder="Buscar compañía...">
                        <div id="resultadosCompaniasExcel" class="lista-companias">
                        </div>
                        <input type="hidden" id="companiaExcelSeleccionada">
                    </div>
                </div>

                <div class="border p-4 text-center rounded mb-3" style="border: 2px dashed #28a745;">

                    <i class="fa fa-file-excel fa-2x text-success"></i>

                    <p class="mt-2">
                        Arrastra o selecciona archivo Excel
                    </p>

                    <input type="file" id="archivoExcel" class="form-control" accept=".xlsx,.xls">
                </div>

                <button type="button" class="btn btn-success w-100" onclick="subirExcel()">
                    <i id="new_user" class="fa fa-upload"></i>
                    Cargar Excel
                </button>

                <div class="mt-3 text-center">
                    <a href="/descargar-plantilla-excel/" class="text-success">
                        Descargar plantilla
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- TABLA -->
    <div class="card-admin mt-4 p-3">
        <h5>Listado de Usuarios</h5>
        <div class="table-responsive">
            <table id="tablaUsuarios" class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Rol</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    {% for perfil in usuarios %}
                    <tr class="fila-usuario">
                        <td>
                            {{ perfil.user.first_name }} {{ perfil.user.last_name }}
                        </td>

                        <td>
                            {% if perfil.rol == "soldado" %}
                            <span class="badge bg-success">Soldado</span>

                            {% elif perfil.rol == "instructor" %}
                            <span class="badge bg-primary">Instructor</span>

                            {% else %}
                            <span class="badge bg-dark">
                                {{ perfil.rol }}
                            </span>
                            {% endif %}
                        </td>

                        <td>
                            {{ perfil.user.email }}
                        </td>

                        <td>
                            {% if perfil.user.is_active %}
                            <span class="badge bg-success">Activo</span>
                            {% else %}
                            <span class="badge bg-danger">Inactivo</span>
                            {% endif %}
                        </td>

                        <td>
                            <button class="btn btn-warning btn-sm btn-editar" data-id="{{ perfil.user.id }}"
                                data-nombre="{{ perfil.user.first_name }}" data-apellido="{{ perfil.user.last_name }}"
                                data-email="{{ perfil.user.email }}" data-rol="{{ perfil.rol }}"
                                data-activo="{{ perfil.user.is_active }}">
                                <i id="buttontable" class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-sm btn-eliminar" data-id="{{ perfil.user.id }}">
                                <i id="buttontable" class="fa fa-trash"></i>
                            </button>

                        </td>
                    </tr>

                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">
                            No hay usuarios registrados
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- COMPANIAS JSON -->
    <script id="companias-data" type="application/json">
[
{% for c in companias %}
{
    "id": "{{ c.id }}",
    "nombre": "{{ c.nombre|escapejs }}",
    "batallon": "{% if c.batallon %}{{ c.batallon.nombre|escapejs }}{% else %}Sin batallón{% endif %}"
}
{% if not forloop.last %},{% endif %}
{% endfor %}
]
</script>
</div>
