<div id="contenido-parcial">

    <div id="tittle" class="mb-4">
        <h2>
            <i class="fa fa-book"></i>
            Gestión de Cursos
        </h2>
    </div>

    <div class="card-admin p-4">

            <div class="d-flex justify-content-end mb-4">
                <button class="btn btn-success" onclick="abrirModalCurso()">
                    <i class="fa fa-plus-circle"></i>
                    Crear Curso
                </button>
            </div>

        <!-- TABLA CURSOS -->
        <div class="card-admin mt-4 p-3">

            <h5>Listado de Cursos</h5>

            <div class="table-responsive">

                <table id="tablaCursos" class="table table-dark table-hover">

                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Curso</th>
                            <th>Instructor</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Cupo</th>
                            <th>Inscritos</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for curso in cursos %}

                        <tr class="fila-curso">

                            <!-- CODIGO -->
                            <td>
                                {{ curso.codigo }}
                            </td>

                            <!-- NOMBRE -->
                            <td>
                                {{ curso.nombre }}
                            </td>

                            <!-- INSTRUCTOR -->
                            <td>
                                {{ curso.instructor.first_name }}
                                {{ curso.instructor.last_name }}
                            </td>

                            <!-- FECHA INICIO -->
                            <td>
                                {{ curso.fecha_inicio }}
                            </td>

                            <!-- FECHA FIN -->
                            <td>
                                {{ curso.fecha_fin }}
                            </td>

                            <td>
                                {{ curso.cupo_maximo }}
                            </td>

                            <td>
                                {{ curso.inscripciones.count }}
                            </td>

                            <!-- ESTADO -->
                            <td>

                                {% if curso.activo %}
                                <span class="badge bg-success">
                                    Activo
                                </span>

                                {% else %}
                                <span class="badge bg-danger">
                                    Inactivo
                                </span>
                                {% endif %}

                            </td>

                            <!-- ACCIONES -->
                            <td>

                                <!-- VER -->
                                <button class="btn btn-info btn-sm btn-ver-curso" data-id="{{ curso.id }}"
                                    data-nombre="{{ curso.nombre }}" data-codigo="{{ curso.codigo }}"
                                    data-descripcion="{{ curso.descripcion|default:'Sin descripción' }}"
                                    data-inscritos="{{ curso.inscripciones.count }}" data-cupo="{{ curso.cupo_maximo }}">
                                    <i id="buttontable" class="fa fa-eye">
                                    </i>
                                </button>

                                <button class="btn btn-primary btn-sm btn-asignar-curso" data-id="{{ curso.id }}"
                                    data-nombre="{{ curso.nombre }}">
                                    <i id="buttontable" class="fa fa-user-plus">
                                    </i>
                                </button>

                                <!-- EDITAR -->
                                <button class="btn btn-warning btn-sm btn-editar-curso" data-id="{{ curso.id }}"
                                    data-codigo="{{ curso.codigo }}" data-nombre="{{ curso.nombre }}"
                                    data-descripcion="{{ curso.descripcion }}"
                                    data-instructor="{{ curso.instructor.id }}"
                                    data-fecha_inicio="{{ curso.fecha_inicio|date:'Y-m-d' }}" data-fecha_fin="{{ curso.fecha_fin|date:'Y-m-d' }}"
                                    data-cupo="{{ curso.cupo_maximo }}">
                                    <i id="buttontable" class="fa fa-edit">
                                    </i>
                                </button>

                                <!-- ELIMINAR -->
                                <button class="btn btn-danger btn-sm btn-eliminar-curso" data-id="{{ curso.id }}">
                                    <i id="buttontable" class="fa fa-trash">
                                    </i>
                                </button>

                            </td>

                        </tr>

                        {% empty %}

                        <tr>
                            <td></td>
                            <td class="text-center">No hay cursos registrados</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        {% endfor %}

                    </tbody>

                </table>

            </div>

        </div>

    </div>

    <div class="d-none" id="soldadosDisponibles">
        {% for soldado in soldados %}
        <option value="{{ soldado.id }}">
            {{ soldado.first_name }} {{ soldado.last_name }} - {{ soldado.perfil.documento }}
        </option>
        {% endfor %}
    </div>

</div>
