<div id="contenido-parcial">
    <div class="cursos">
        <h2 class="mb-4">📚 Cursos</h2>

        <div class="row">

            <div class="col-md-4">
                <div class="card-curso verde">
                    <h5>Combate Básico</h5>
                    <p>Nivel: Inicial</p>
                    <div class="barra">
                        <div class="progreso" style="width: 70%;"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-curso azul">
                    <h5>Estrategia Militar</h5>
                    <p>Nivel: Intermedio</p>
                    <div class="barra">
                        <div class="progreso" style="width: 40%;"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-curso rojo">
                    <h5>Supervivencia</h5>
                    <p>Nivel: Avanzado</p>
                    <div class="barra">
                        <div class="progreso" style="width: 90%;"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>